@model HolidayManagement.Models.DashboardViewModel
@{
    ViewBag.Title = "Index";
}

<ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#Users">User</a></li>
    <li><a data-toggle="pill" href="#MyCalendar">My Calendar</a></li>
    <li><a data-toggle="pill" href="#GroupManagement">Group Management</a></li>
    <li><a data-toggle="pill" href="#Settings">Settings</a></li>
</ul>
<div class="tab-content">
    <div id="Users" class="tab-pane fade in active">
       @Html.Partial("_Users")
        </div>
                    
    <div id="MyCalendar" class="tab-pane fade">
        @Html.Partial("_MyCalendar")
    </div>

    <div id="GroupManagement" class="tab-pane fade">
        @Html.Partial("_GroupManagement")
    </div>

    <div id="Settings" class="tab-pane fade">
        @Html.Partial("_Settings")        
    </div>
</div>

<script src="~/Scripts/Dashboard/TeamModel.js"></script>
<script src="~/Scripts/Dashboard/UserModel.js"></script>
<script src="~/Scripts/Dashboard/DayModel.js"></script>
<script src="~/Scripts/Dashboard/DashboardModel.js"></script>
<script type="text/javascript">
    InitializeDashboardModel(@Html.Raw(Json.Encode(Model)));
</script>
